<h1 class="c1">{{ title }}</h1>

<div style="background-color: aqua" *ngIf="success_msg; then updated_msg; else error_msg">
  User added successfully
</div>


<ng-template #updated_msg>

  user was updated

</ng-template>


<ng-template #error_msg>

  user was not added

</ng-template>

<h1>hi there</h1>

<ul>
  <li *ngFor="let contact of contacts; index as i; first as f; last as l">
    <div *ngIf="f" style="background-color: aqua">this is first record</div>

    <div>
      {{ i }} {{ contact.firstName }} {{ contact.lastName }}
    </div>
    <div *ngIf="l" style="background-color: burlywood">this is last record</div>
  </li>
</ul>


<p>New table with even and odd</p>
<ul>
  <li *ngFor="let contact of contacts; let e = even; let o = odd; let i = index; let f = first; let l = last">

    <div *ngIf="e" style="background-color: lawngreen">
      {{ i }} {{ contact.firstName }} {{ contact.lastName }}
    </div>

    <div *ngIf="o" style="background-color: red">
      {{ i }} {{ contact.firstName }} {{ contact.lastName }}
    </div>
  </li>
</ul>

<h4>Learning ngSwitch</h4>
<div [ngSwitch]="superPower">
  <div *ngSwitchCase="'rich'">Display Rich super powers</div>
  <div *ngSwitchCase="'balman'">Display batman super powers</div>
  <div *ngSwitchCase="'superman'">Display superman super powers</div>
  <div *ngSwitchCase="'ironman'">Display ironman super powers</div>
  <div *ngSwitchDefault>Display irony is super powers</div>

</div>

<div [ngSwitch]="tax">
  <div *ngSwitchCase="10">Display tax is good</div>
  <div *ngSwitchCase="30">Display tax is not ok</div>
  <div *ngSwitchDefault>Double tax for you</div>


</div>

<h2>Learning ngStyle</h2>

<div [ngStyle]="{'background-color':'green', 'color':'white'}">this is green div</div>

<div [ngStyle]="{'background-color':styleProp}">Dynamic color man</div>

<div [ngStyle]="{'color': txtColor === 'blue'? 'blue' : 'green'}">Conditional div man</div>


<div [ngClass]="'c1'">this is ngClass example</div>
<div [ngClass]="'c1 c2'">this is ngClass multiple classes example</div>
<div [ngClass]="styleClsProp">example of c3</div>
<div [ngClass]="conditionClsProp === 'c4'? 'c4' : 'c5'">example of ngClass using variable</div>
<p>this is though object</p>
<div [ngClass]="{c4: true, c5: true}">example of ngClass conditional checking</div>
<div [ngClass]="getClsName()">this is METHOD ngClass example</div>

<div>{{ pageHeading }}</div>

<p [style.color]="txtColorVal">Page Count Value is {{ pageCount }}</p>

<a href="#">this is a link</a>

<img src="imgUrl" alt="imgAlt">

<div *ngIf="isUserLoggedIn">
  <div [innerHTML]="userObject.firstName"></div>
</div>

<table style="background-color: aqua">
  <tr>
    <td>ContactId</td>
    <td>Contact Name</td>
    <td>Contact Mail</td>

  </tr>

  <tr>
    <td [attr.colspan]="colVal">ContactId</td>
    <td>Contact Mail</td>

  </tr>
</table>


<table>
  <tr>
    <th>ContactID</th>
    <th>FirstName</th>
    <th>LastName</th>

  </tr>

  <tr *ngFor="let contact of contacts">
    <td [title]="contact.contactId">{{ contact.contactId }}</td>
    <td [title]="contact.firstName">{{ contact.firstName }}</td>
    <td>{{ contact.lastName }}</td>
  </tr>
</table>

<button (click)="sayHello()">Click Here</button>

<div (mouseover)="highlightBGcolor()">Highlight Me</div>

<!--two way data binding-->

<input [(ngModel)]="username"/>

<div *ngIf="month > 3"> {{ username }}</div>

<!--Angular Built-in Pipes-->

<h2>Built-In Pipes</h2>
<div> {{ lowerCaseExample | lowercase }}</div>

<div> {{ upperCaseExample | lowercase }}</div>

<div> {{ dateExample | date }}</div>

<div> {{ jsonExample | json }}</div>

<div> {{ currencyExample | currency }}</div>

<div> {{ percentExample | percent }}</div>


<!--Angular Parameterizing Pipes-->
<div> {{ currencyExample | currency : 'INR' }}</div>

<div> {{ dateExample | date : 'short' }}</div>

<div> {{ percentExample | percent : '3.2-2' }}</div>

<!--Chaining Pipes-->

<h2>Chaining Pipes</h2>

<div> {{ dateExample | date | uppercase }}</div>

<div> {{ currencyExample | currency : 'CAD' | lowercase }}</div>

<app-clients></app-clients>

<router-outlet></router-outlet>
