.c1 {
    background-color: red;
    color: whitesmoke;
}

.c2 {
  background-color: yellowgreen;
  color: black;
  font-size: 20px;
}

.c3 {
  background-color: aqua;
  color: brown;
}

.c4 {
  background-color: brown;
  color: whitesmoke;
}

.c5 {
  font-size: 30px;
  color: black;
}

.c6 {
  background-color: cornflowerblue;
  color: black;
}
